venv/
app/venv/
.venv/
app/.venv/

.idea/
app/.idea/
*.pyc
app/*.pyc
__pycache__/
app/__pycache__/

.DS_Store
app/.DS_Store
Thumbs.db
app/Thumbs.db

docker-compose.yml
Dockerfile444
app/test_main.http